name: my_it_path
description: "A Flutter project for IT path guidance"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  provider: ^6.1.2
  pie_chart: ^5.4.0
  share_plus: ^7.2.1
  webview_flutter: ^4.9.0
  universal_html: ^2.2.4

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
